main{
    max-width: 1440px;
    margin: auto;
    padding: 0 15px;
}

#ficheProduit  {
    display: flex;
    flex-wrap: wrap;
}

figure{
    width: 240px;
    height: auto;
    margin: 20px 10px;
    border: solid 5px white;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    box-shadow: 1px 1px 8px rgb(184 178 178);
   
}

img{
    width: 100%;
    height: 162px;
    object-fit: cover;
}
/* ---------------------------- PAGE PANIER ----------------------------*/
.containerProduit{
    max-width: 650px;
    justify-content: space-around;

}

.headerProduit{
    width: 100%;
    display: flex;
    max-width: 650px;
    justify-content: flex-start;
}


.produit {
    width: 45%;
}


.prix{
    width: 15%;
    display: flex;

}
.qty{
    width: 30%;
    display: flex;

}

.total{
    width: 10%;
    display: flex;

}
.fiche{
    max-width: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
}