@keyframes slideright {
  0% {
    transform: translateX(50px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

/* ---------------------------- NAVBAR ----------------------------*/
.nav {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  padding: 15px;
  background-color: #F1E7F3;
  z-index: 1; }
  .nav .logoNav {
    width: 200px;
    height: 42px; }
  .nav .navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem; }
  .nav .panierBtn {
    position: relative;
    cursor: pointer; }
    .nav .panierBtn .panierIcone {
      color: black; }
  .nav .iconePanier {
    font-size: 1.5rem; }
  .nav .compteurPanier {
    position: absolute;
    top: -12px;
    right: -12px;
    background: white;
    padding: 0 5px;
    border-radius: 30%;
    color: black; }

.hero {
  background: url("C:/Users/konat/Documents/Openclassrooms/P5/front-end/img/d.jpg") center/cover no-repeat;
  display: flex;
  align-self: center;
  justify-content: center; }
  .hero .banniere {
    background: #ffffffa3;
    display: flex;
    padding: 2rem;
    margin: 141px;
    align-items: center; }
    .hero .banniere .banniereTitre {
      margin-bottom: 3rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      line-height: 68px; }

.imageTop {
  height: 347px;
  position: relative; }
  .imageTop img {
    width: 100%;
    height: 479px;
    object-fit: cover; }
  .imageTop .texteImageTop {
    position: absolute;
    z-index: 0;
    bottom: 10px;
    right: 313px;
    background-color: #ffffffa3;
    padding: 72px;
    text-align: center;
    font-weight: 300;
    background: url("C:/Users/konat/Documents/Openclassrooms/P5/front-end/img/nounours.jpg") center/cover; }

/* ---------------------------- PRODUCTS ----------------------------*/
.titreIndex {
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
  margin: 75px 0 23px 0; }

.separateurIndex {
  background: #c97b56;
  width: 10%;
  margin: auto;
  height: 2px;
  margin-bottom: 40px; }

#products {
  width: 74vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem; }
  #products .containerProduct {
    position: relative;
    overflow: hidden; }
    #products .containerProduct:hover .btnVoirProduit {
      transform: translateX(0);
      animation: slideright .5s; }
    #products .containerProduct:hover .imgProduct {
      opacity: 0.5; }
    #products .containerProduct .imgProduct {
      width: 100%;
      border-radius: 76px; }
    #products .containerProduct .btnVoirProduit {
      position: absolute;
      top: 70%;
      color: white;
      right: 0;
      border: none;
      background: #d79de2;
      padding: 0.5rem 0.75rem;
      cursor: pointer;
      transform: translateX(101%); }
      #products .containerProduct .btnVoirProduit:hover {
        color: white; }
  #products .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    text-align: center; }
  #products .product h4 {
    margin-top: 0.7rem;
    text-align: center;
    font-size: 1.1rem;
    color: #d79de2; }

.titreMonPanier {
  display: flex;
  justify-content: center;
  margin: 37px 0px 37px 0px; }

.tableauStyle {
  margin: auto;
  width: 57%; }
  .tableauStyle thead {
    background-color: #cb7c51b8;
    color: white; }
  .tableauStyle tr {
    font-size: 18px; }
  .tableauStyle tfoot {
    border-top: solid 1px #2125290d; }

.produit {
  height: 100px;
  object-fit: cover; }

.btnQtyDown, .btnQtyUp {
  background: white;
  border: none; }
  .btnQtyDown:focus, .btnQtyUp:focus {
    outline: none; }

.btnSupprimer {
  background: white;
  border: none;
  color: #c0a3c5; }
  .btnSupprimer:focus {
    outline: none; }

/* ---------------------------- PAGE COMMANDE ----------------------------*/
.containerForm {
  overflow: hidden;
  margin: auto;
  width: 57%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 76px auto; }

.headerForm {
  padding: 20px 40px; }

.headerFormItem {
  font-size: 1.5rem;
  margin: 21px 0 21px 0;
  text-align: center; }

#form {
  padding: 30px 40px;
  border: none;
  border-top: 1px solid #d9a081;
  border-left: solid 1px #d9a081; }

.formItem {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative; }

.formItem label {
  display: inline-block;
  margin-bottom: 5px; }

.formItem input {
  border: none;
  border-bottom: 1px solid #00000014;
  display: block;
  font-size: 14px;
  padding: 10px;
  width: 100%; }
  .formItem input:focus {
    outline: solid 1px darkgray; }

.formItem.valide input {
  border-color: green; }

.formItem.invalide input {
  border-color: red; }

.formItem i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden; }

.formItem.formItem.valide i.fa-check-circle {
  visibility: visible;
  color: green; }

.formItem.formItem.invalide i.fa-check-circle {
  visibility: visible;
  color: red; }

.formItem small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0; }

.formItem.invalide small {
  visibility: visible;
  color: red; }

.containerBtnCommanderForm {
  display: flex;
  justify-content: center; }
  .containerBtnCommanderForm .btnCommanderForm {
    background: #ffffff;
    transition: transform 0.9s;
    padding: 5px 15px 5px 15px;
    border: 1px solid #343a40;
    border-radius: 5px 15px 5px 15px;
    color: #1d2124;
    font-size: 18px;
    font-weight: 600;
    width: 28%; }
    .containerBtnCommanderForm .btnCommanderForm:hover {
      transform: scale(1.1); }
    .containerBtnCommanderForm .btnCommanderForm:focus {
      outline: none; }

.containerCommander {
  display: flex;
  justify-content: flex-end;
  width: 57%;
  margin: 33px auto 0; }
  .containerCommander .btnCommander {
    background: #d9a081;
    transition: transform 0.9s;
    padding: 5px 15px 5px 15px;
    border: 1px solid #f1e7f3;
    border-radius: 5px 15px 5px 15px;
    color: white;
    font-size: 18px;
    font-weight: 600; }
    .containerCommander .btnCommander:hover {
      transform: scale(1.1); }
    .containerCommander .btnCommander:focus {
      outline: none; }

#produit {
  margin: 0 30px 0 30px; }

.titreFicheProduit {
  text-align: center;
  padding: 17px 0 41px 0; }

.containerFicheProduit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 39px; }
  .containerFicheProduit .imgFicheProduit {
    margin-right: 41px; }
    .containerFicheProduit .imgFicheProduit img {
      width: 100%;
      border-radius: 10px 100px 10px 10px; }
  .containerFicheProduit .descriptionFicheProduit {
    max-width: 100%; }
  .containerFicheProduit .description {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-top: 1rem; }
  .containerFicheProduit .descriptionFicheProduit h4 {
    color: #cb7c51b8;
    text-align: justify; }
  .containerFicheProduit .optionCouleur {
    margin-top: 41px;
    text-align: center; }
  .containerFicheProduit .titreOptionCouleur {
    font-weight: 600; }
  .containerFicheProduit .containerBtnAjoutPanier {
    display: flex;
    justify-content: center; }
    .containerFicheProduit .containerBtnAjoutPanier #btnAjouterPanier {
      color: white;
      padding: 10px;
      width: 50%;
      text-align: center;
      background-color: #cb7c51b8; }

.containerOrder {
  display: flex;
  justify-content: space-around;
  margin: 17px 49px;
  box-shadow: 5px 5px 10px #000000a1; }
  .containerOrder .orderId, .containerOrder .prixTotal {
    margin: 22px;
    font-size: 16px;
    font-weight: 600; }

.messageConfirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  margin: auto;
  margin-top: 79px; }
  .messageConfirm .headerMessage {
    display: flex;
    align-items: center; }
    .messageConfirm .headerMessage .imgFloat {
      width: 240px;
      height: 240px;
      margin-right: 32px;
      border-radius: 150px;
      overflow: hidden;
      float: left; }
  .messageConfirm .paragrapheMessage {
    margin-top: 36px;
    text-align: center; }
    .messageConfirm .paragrapheMessage .motsConfirm {
      font-weight: bold;
      color: #935df19c; }

.footer {
  display: flex;
  justify-content: space-evenly;
  background: #f1e7f3;
  padding: 80px;
  margin-top: 88px; }
  .footer .titreNewsletter {
    font-size: 19px;
    margin-bottom: 31px;
    text-transform: capitalize; }
  .footer .emailNewsletter {
    width: 100%;
    border: none;
    background: no-repeat;
    border-bottom: solid 1px gray;
    text-transform: uppercase;
    font-size: 13px; }
    .footer .emailNewsletter:focus {
      outline: none; }
  .footer .lienFooter {
    color: black;
    font-size: 15px;
    text-decoration: none;
    background-color: transparent; }
    .footer .lienFooter:hover {
      color: black;
      text-decoration: underline; }

@media all and (max-width: 631px) {
  .hero {
    background: url(C:/Users/konat/Documents/Openclassrooms/P5/front-end/img/d.jpg) center/cover repeat;
    width: 100%;
    height: 486px; }
    .hero .banniere {
      margin: 49px; }
  .banniereTitre {
    font-size: 33px;
    line-height: 40px; } }

@media all and (max-width: 900px) {
  .footer {
    display: block; }
    .footer .lienFooter {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px; }
  .newsletter {
    margin-bottom: 22px; } }

@media all and (max-width: 800px) {
  #products {
    display: flex;
    flex-direction: column; } }

@media all and (max-width: 1400px) {
  .containerFicheProduit {
    display: flex;
    flex-direction: column; }
    .containerFicheProduit .imgFicheProduit {
      margin: 0px; }
      .containerFicheProduit .imgFicheProduit img {
        border-radius: 100px 100px 100px 100px; }
    .containerFicheProduit .descriptionFicheProduit {
      margin-top: 49px; }
  #btnAjouterPanier {
    margin-top: 22px; } }

@media all and (max-width: 700px) {
  .containerOrder {
    flex-direction: column;
    align-items: center; }
  .messageConfirm .headerMessage {
    flex-direction: column; }
  body > div.messageConfirm > div.headerMessage > h2 {
    text-align: center; } }
