//Keyframes
@keyframes slideright{
    0%{
        transform: translateX(50px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
/* ---------------------------- NAVBAR ----------------------------*/
.nav{
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    padding: 15px;
    background-color: #F1E7F3;
    z-index: 1;

    .logoNav{
        width: 200px;
        height: 42px;
    }
    .navbar-center{
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;
    }

    .panierBtn{
        position: relative;
        cursor: pointer;

        .panierIcone{
            color: black;
        }
    }
    .iconePanier{
        font-size: 1.5rem;
    }

    .compteurPanier {
        position: absolute;
        top: -12px;
        right: -12px;
        background: white;
        padding: 0 5px;
        border-radius: 30%;
        color: black;
    }
    
}
.hero{
    background: url("C:/Users/konat/Documents/Openclassrooms/P5/front-end/img/d.jpg")center/cover no-repeat;
    display: flex;
    align-self: center;
    justify-content: center;

    .banniere{
        background: #ffffffa3;
        display: flex;
        padding: 2rem;
        margin: 141px;
        align-items: center;

        .banniereTitre{
            margin-bottom: 3rem;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
            line-height: 68px;
        }
    }
}
.imageTop{
    height: 347px;
    position: relative;
    img{
        width: 100%;
        height: 479px;
        object-fit: cover;
    }
    .texteImageTop{
        position: absolute;
        z-index: 0;
        bottom: 10px;
        right: 313px;
        background-color: #ffffffa3 ;
        padding: 72px;
        text-align: center;
        font-weight: 300;
        background: url("C:/Users/konat/Documents/Openclassrooms/P5/front-end/img/nounours.jpg")center/cover;
    }
}

/* ---------------------------- PRODUCTS ----------------------------*/
.titreIndex{
    text-align: center;
    text-transform: capitalize;
    font-weight: 300;
    margin: 75px 0 23px 0;
}
.separateurIndex{
    background: #c97b56;
    width: 10%;
    margin: auto;
    height: 2px;
    margin-bottom: 40px;
}

#products{
    width: 74vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:1.5rem;
    grid-row-gap:2rem;

    .containerProduct{
        position: relative;
        overflow: hidden;
        &:hover .btnVoirProduit{
            transform: translateX(0);
            animation: slideright .5s;

        }

        &:hover .imgProduct{
            opacity: 0.5;
        }

        .imgProduct{
            width: 100%;
            border-radius: 76px;

        }

        .btnVoirProduit{
            position: absolute;
            top: 70%;
            color: white;
            right: 0;
            border: none;
            background:#d79de2 ;
            padding: 0.5rem 0.75rem;
            cursor: pointer;
            transform: translateX(101%);

            &:hover{
                color: white;
                
            }
        }
    }

    .product h3 {
        text-transform: capitalize;
        font-size: 1.1rem;
        margin-top: 1rem;
        text-align: center;
    }

    .product h4 {
        margin-top: 0.7rem;
        text-align:center;
        font-size: 1.1rem;
        color:#d79de2 ;
    }
}




