.titreMonPanier {
    display: flex;
    justify-content: center;
    margin: 37px 0px 37px 0px;
}
.tableauStyle{
    margin: auto;
    width: 57%;

    thead{
        background-color:#cb7c51b8 ;
        color: white;
    }

    tr{
        font-size: 18px;
    }
    tfoot{
        border-top: solid 1px #2125290d;
    }
}
.produit{
    
        height: 100px;
        object-fit: cover;
}
.btnQtyDown, .btnQtyUp{
    background: white;
    border: none;
    &:focus{
        outline: none;
    }
    
}
.btnSupprimer{
    background: white;
    border: none;
    color: #c0a3c5;

    &:focus{
        outline: none;

    }
}
/* ---------------------------- PAGE COMMANDE ----------------------------*/

.containerForm{
    overflow: hidden;
    margin: auto;
    width: 57%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 76px auto; 
}

.headerForm{
    padding: 20px 40px;
}

.headerFormItem{
  font-size: 1.5rem;
  margin: 21px 0 21px 0;
  text-align: center;
}

#form{
    padding: 30px 40px;
    border: none;
    border-top: 1px solid #d9a081;
    border-left: solid 1px #d9a081;

}

.formItem{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.formItem label{
    display: inline-block;
    margin-bottom: 5px;
}

.formItem input{
    border: none;
    border-bottom: 1px solid #00000014 ;
    display: block;
    font-size: 14px;
    padding:10px;
    width: 100%;

    &:focus{
        outline: solid 1px darkgray;

    }
}

.formItem.valide input{
    border-color: green;
}

.formItem.invalide input{
    border-color: red;
}

.formItem i{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.formItem.formItem.valide i.fa-check-circle{
    visibility: visible;
    color: green;
}
.formItem.formItem.invalide i.fa-check-circle{
    visibility: visible;
    color: red;
}
.formItem small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.formItem.invalide small{
    visibility: visible;
    color: red;
}

.containerBtnCommanderForm{
    display: flex;
    justify-content: center;
    
    
    .btnCommanderForm{
        background: #ffffff;
        transition: transform 0.9s;
        padding: 5px 15px 5px 15px;
        border: 1px solid #343a40;
        border-radius: 5px 15px 5px 15px;
        color: #1d2124;
        font-size: 18px;
        font-weight: 600;
        width: 28%;

        &:hover{
            transform: scale(1.1);
        }
        &:focus{
            outline: none;
        }
}

}

.containerCommander{
        display: flex;
        justify-content: flex-end;
        width: 57%;
        margin: 33px auto 0;

    .btnCommander{
        background: #d9a081;
        transition: transform 0.9s;
        padding: 5px 15px 5px 15px;
        border: 1px solid #f1e7f3;
        border-radius: 5px 15px 5px 15px;
        color: white;
        font-size: 18px;
        font-weight: 600;


    &:hover{
        transform: scale(1.1);
    }

    &:focus{
        outline: none;
    }

    }
}
